## Question 1: Install Spark and PySpark

In [1]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\rania\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 23.1.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [4]:
spark = SparkSession.builder.master('local[*]')\
    .appName('Solving pyspark hw')\
    .getOrCreate()

In [5]:
!curl -O -L https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 61.3M    0  220k    0     0   190k      0  0:05:29  0:00:01  0:05:28  190k
  0 61.3M    0  476k    0     0   202k      0  0:05:09  0:00:02  0:05:07  203k
  3 61.3M    3 2355k    0     0   748k      0  0:01:23  0:00:03  0:01:20  749k
 12 61.3M   12 7553k    0     0  1763k      0  0:00:35  0:00:04  0:00:31 1764k
 23 61.3M   23 14.6M    0     0  2919k      0  0:00:21  0:00:05  0:00:16 3063k
 32 61.3M   32 20.2M    0     0  3194k      0  0:00:19  0:00:06  0:00:13 3846k
 43 61.3M   43 26.8M    0     0  3850k      0  0:00:16  0:00:07  0:00:09 5635k
 53 61.3M   53 32.9M    0     0  4136k      0  0:00:15  0:00:08  0:00:07 6267k
 63 61.3M   63 39.0M    0     0  4364k      0  0:00:14  0:00:09  0:00:05 6644k
 73 61.3M   73 45.0M    0     0  4539k      0  0:00:13  0:00:10  0:00:03 6207k
 83 61.3M   83 51.0M    0     0  4686k      0  0:00:13  0:00:11  0:00:02 6764k
 92 61.3M   92 57.0M    0     0  4807k      0  0:00:13  0:00:12  0:00:01 6177k
100 61.3M  100 61.3M    0     0  4844k      0  0:00:12  0:00:12 --:--:-- 6044k

## Question 2: Yellow October 2024

In [6]:
yellow_df = spark.read.parquet("yellow_tripdata_2024-10.parquet")

In [7]:
yellow_df\
    .repartition(4)\
    .write.parquet('data/pq/yellow')

In [9]:
yellow_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

## Question 3: Count records

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

In [12]:
yellow_df.count()

3833771

In [14]:
yellow_df.createTempView('yellow_trip_data')

In [57]:
spark.sql("""
Select VendorID, passenger_count,extract(month from tpep_pickup_datetime) as month,
extract(day from tpep_pickup_datetime) as day,
tpep_pickup_datetime, tpep_dropoff_datetime
from yellow_trip_data
""").show()

+--------+---------------+-----+---+--------------------+---------------------+
|VendorID|passenger_count|month|day|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+-----+---+--------------------+---------------------+
|       2|              1|   10|  1| 2024-10-01 00:30:44|  2024-10-01 00:48:26|
|       1|              1|   10|  1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|
|       1|              1|   10|  1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|
|       1|              1|   10|  1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|
|       1|              1|   10|  1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|
|       2|              2|   10|  1| 2024-10-01 00:31:20|  2024-10-01 00:36:00|
|       1|              1|   10|  1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|
|       1|              1|   10|  1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|
|       1|              0|   10|  1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|
|       1|              1|   10|  1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|
|       1|              1|   10|  1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|
|       2|              1|   10|  1| 2024-10-01 00:07:26|  2024-10-01 00:13:20|
|       2|              1|   10|  1| 2024-10-01 00:17:11|  2024-10-01 00:25:00|
|       2|              1|   10|  1| 2024-10-01 00:00:34|  2024-10-01 00:05:13|
|       2|              1|    9| 30| 2024-09-30 23:58:40|  2024-10-01 00:20:26|
|       1|              1|   10|  1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|
|       1|              1|   10|  1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|
|       2|              2|   10|  1| 2024-10-01 00:18:38|  2024-10-01 00:36:47|
|       2|              2|   10|  1| 2024-10-01 00:18:38|  2024-10-01 00:36:47|
|       2|              1|   10|  1| 2024-10-01 00:39:33|  2024-10-01 00:53:59|
+--------+---------------+-----+---+--------------------+---------------------+
only showing top 20 rows

In [58]:
df_results = spark.sql("""
Select VendorID, passenger_count,extract(month from tpep_pickup_datetime) as month,
extract(year from tpep_pickup_datetime) as year,
extract(day from tpep_pickup_datetime) as day,
tpep_pickup_datetime
from yellow_trip_data
""")

In [54]:
df_results.filter((F.col('day') == 15) & (F.col('month') == 10)& (F.col('year') == 2024)).count()

128893

## Question 4: Longest trip

What is the length of the longest trip in the dataset in hours?

In [55]:
spark.sql("""
SELECT 
    MAX( (UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600 ) AS max_trip_hours
FROM yellow_trip_data;
""").show()

+------------------+
|    max_trip_hours|
+------------------+
|162.61777777777777|
+------------------+

## Question 6: Least frequent pickup location zone
Load the zone lookup data into a temp view in Spark:

In [59]:
!curl -O -L https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 12331  100 12331    0     0  12113      0  0:00:01  0:00:01 --:--:-- 12148
100 12331  100 12331    0     0  12112      0  0:00:01  0:00:01 --:--:-- 12148

In [66]:
zone_df = spark.read.option("header", "True").csv('taxi_zone_lookup.csv')

In [67]:
zone_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [68]:
## Joing 2 df

df_results = yellow_df.join(zone_df, yellow_df.PULocationID==zone_df.LocationID)

In [72]:
df_results = df_results.drop('LocationID')

In [76]:
df_results.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|Manhattan|        Midtown East| Yellow Zone|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|Manhattan|        Clinton East| Yellow Zone|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|Manhattan| UN/Turtle Bay South| Yellow Zone|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|Manhattan|      Yorkville East| Yellow Zone|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|Manhattan|            Kips Bay| Yellow Zone|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|Manhattan|        Midtown East| Yellow Zone|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|Manhattan|        Midtown East| Yellow Zone|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|Manhattan|        Midtown East| Yellow Zone|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|Manhattan|                SoHo| Yellow Zone|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|Manhattan|      Midtown Center| Yellow Zone|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|   Queens|         JFK Airport|    Airports|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|Manhattan|Upper West Side S...| Yellow Zone|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|Manhattan|Upper West Side S...| Yellow Zone|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|    Bronx|      West Concourse|   Boro Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
only showing top 20 rows

In [73]:
df_results.createTempView('pickup_location')

In [85]:
spark.sql("""
select count(pickup_count), month, year, pickup_zone
from (Select extract(month from tpep_pickup_datetime) as month,
extract(year from tpep_pickup_datetime) as year,
tpep_pickup_datetime, Zone as pickup_zone, count(PULocationID) as pickup_count
from pickup_location
group by 1,2,3,4
order by 4)as sub
where month = 10 and
year = 2024
group by 2,3,4
order by 1 
""").show(truncate = False)

+-------------------+-----+----+---------------------------------------------+
|count(pickup_count)|month|year|pickup_zone                                  |
+-------------------+-----+----+---------------------------------------------+
|1                  |10   |2024|Governor's Island/Ellis Island/Liberty Island|
|2                  |10   |2024|Rikers Island                                |
|2                  |10   |2024|Arden Heights                                |
|3                  |10   |2024|Jamaica Bay                                  |
|3                  |10   |2024|Green-Wood Cemetery                          |
|4                  |10   |2024|Eltingville/Annadale/Prince's Bay            |
|4                  |10   |2024|Rossville/Woodrow                            |
|4                  |10   |2024|Charleston/Tottenville                       |
|4                  |10   |2024|Port Richmond                                |
|4                  |10   |2024|West Brighton                                |
|6                  |10   |2024|Great Kills                                  |
|6                  |10   |2024|Crotona Park                                 |
|7                  |10   |2024|Heartland Village/Todt Hill                  |
|7                  |10   |2024|Mariners Harbor                              |
|8                  |10   |2024|Saint George/New Brighton                    |
|8                  |10   |2024|Oakwood                                      |
|9                  |10   |2024|New Dorp/Midland Beach                       |
|9                  |10   |2024|Broad Channel                                |
|11                 |10   |2024|Pelham Bay Park                              |
|12                 |10   |2024|Breezy Point/Fort Tilden/Riis Beach          |
+-------------------+-----+----+---------------------------------------------+
only showing top 20 rows